<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AutoML Experiment</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined&icon_names=area_chart,build_circle,check_circle,clarify,data_check,edit_document,info,model_training,upload" />
    <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" type="text/css" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/alpinejs" defer></script>
</head>
<body x-data="{show : false}">
    <div class="flex flex-col h-svh justify-between">
        <!-- NAVBAR -->
        <div class="navbar bg-base-100 shadow-sm px-6">
                <label for="my-drawer-3" class="btn drawer-button text-lg lg:hidden mr-4">☰</label>
            <a class="text-xl font-bold">AutoML Tool <span class="font-light">(Regression)</span></a>
        </div>

        <!-- SIDEBAR LAYOUT -->
        <div class="drawer lg:drawer-open h-full">
            <input id="my-drawer-3" type="checkbox" class="drawer-toggle" />
            
            <!-- PAGE CONTENT -->
            <div  class="drawer-content flex flex-col items-center justify-center bg-base-200 p-4">
                <div class="card bg-base-100 h-full w-full p-10 shadow-sm" hx-trigger="load" hx-get="pages/Reporting_A.html" id="content">asdf</div>
            </div>
            
            <!-- SIDEBAR -->
            <div class="drawer-side h-full" x-data="{page : 'Reporting_A'}">
                <label for="my-drawer-3" aria-label="close sidebar" class="drawer-overlay"></label>
                <ul class="menu bg-base-200 min-h-full w-70 p-4 gap-2 font-medium" hx-target="#content">
                    <li class="menu-title">Workflow</li>
                    <li class="shadow-sm" :class="page == 'DataImport' ? 'bg-base-300' : 'bg-base-100' " @click="page = 'DataImport'">
                        <a class="flex justify-between" hx-get="pages/DataImport.html">
                            <div class="flex items-center gap-2"><span class="material-symbols-outlined">upload </span> Data Import</div>
                            <span class="material-symbols-outlined text-success" style="font-size: 1rem">check_circle</span>
                        </a>
                    </li>
                    <li class="shadow-sm" :class="page == 'DataPrep' ? 'bg-base-300' : 'bg-base-100' " @click="page = 'DataPrep'">
                        <a class="flex justify-between" hx-get="pages/DataPrep.html">
                            <div class="flex items-center gap-2"><span class="material-symbols-outlined">data_check</span>Data Preparation</div>
                            <span class="material-symbols-outlined text-success" style="font-size: 1rem">check_circle</span>
                        </a>
                    </li>
                    <li class="shadow-sm" :class="page == 'ModelTrain' ? 'bg-base-300' : 'bg-base-100' " @click="page = 'ModelTrain'">
                        <a class="flex justify-between" hx-get="pages/ModelTrain.html">
                            <div class="flex items-center gap-2"><span class="material-symbols-outlined">model_training</span>Model Training</div>
                            <span class="material-symbols-outlined text-success" style="font-size: 1rem">check_circle</span>
                        </a>
                    </li>
                    <li class="shadow-sm" :class="page == 'ModelExp' ? 'bg-base-300' : 'bg-base-100' " @click="page = 'ModelExp'">
                        <a class="flex justify-between" hx-get="pages/ModelExp.html">
                            <div class="flex items-center gap-2"><span class="material-symbols-outlined">clarify</span>Model Explanation</div>
                            <span class="material-symbols-outlined text-success" style="font-size: 1rem">check_circle</span>
                        </a>
                    </li>
                    <div class="divider my-0"></div>
                    <li class="shadow-sm" :class="page == 'Reporting_A' ? 'bg-base-300' : 'bg-base-100' " @click="page = 'Reporting_A'">
                        <a class="flex justify-between" hx-get="pages/Reporting_A.html">
                            <div class="flex items-center gap-2"><span class="material-symbols-outlined">edit_document</span>Reporting_A</div>
                            <span class="material-symbols-outlined text-warning" style="font-size: 1rem">build_circle</span>
                        </a>
                    </li>
                    <li class="shadow-sm" :class="page == 'Reporting_B' ? 'bg-base-300' : 'bg-base-100' " @click="page = 'Reporting_B'">
                        <a class="flex justify-between" hx-get="pages/Reporting_B.html">
                            <div class="flex items-center gap-2"><span class="material-symbols-outlined">edit_document</span>Reporting_B</div>
                            <span class="material-symbols-outlined text-warning" style="font-size: 1rem">build_circle</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</body>
</html>